$darkgray: #5D5A62;
$lightgray: #BCB8B7;
$red: tomato;
$gold: #B59071;
$blue: #1E3F5D;
$green: #70A69D;
$yellow: #F2DEB5;
$white: antiquewhite;
$lightgreen: #009900;
$bluegrey: #003B6D;

$eat: darken($red, 10%);
$play: darken($green, 20%);
$fight: darken($yellow, 20%);
$sleep: $blue;